* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body { 
    background-color: aliceblue;
    color: rgb(29, 27, 30);
    line-height: 3.0;
}

.main-header { 
    background-color: rgb(29, 27, 30);
    color: aliceblue;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-header h1 { 
    color: #fff;
    font-size: 100px;
}

nav ul { 
    list-style: none;
    padding: 1rem 0 0 0;
}

nav ul li { 
    display: inline-block;
    margin: 0 15px;
}

nav ul li a { 
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover { 
    color: orange;
}

nav ul li a:active {
    color: orange;
    border-bottom: 2px solid orange;
}