.card-section #card-itens-container { 
    border: 1px dashed wheat;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    min-height: 100px;
}

.card-total { 
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#checkout-btn { 
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: green;
}